#options {
	background: $about_color;
	border: 1px solid darken($about_color, 10%);
	border-radius: 5px;
	box-shadow: inset 0 1px 0 mix($about_color, #FFF, 75%), 0 2px 4px #F5F5F5;
	padding: 1rem;
	position: relative;

	h2 {
		font-size: 1.4rem;
		margin: 0 0 1rem;
		text-shadow: 0 1px 0 mix($about_color, #FFF, 75%);
	}

	form {
		background: #FFF;
		border: 1px solid darken($about_color, 5%);
		box-shadow: inset 0 2px 2px #F5F5F5;
		padding: 1rem;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;

		margin-top: 2rem;

		&:first-child {
			margin-top: 0;
		}
	}

	.input-group {
		margin-top: 1.8rem;
	}

	.sub-input-group {
		margin-left: 2.7rem;
	}

	legend {
		border-bottom: 1px solid lighten($primary_color, 65%);
		font-size: 1.1rem;
		font-weight: bold;
		padding-bottom: 0.25rem;
		text-transform: uppercase;
		width: 100%;
	}

	label {
		display: block;
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
	}

	input + label {
		display: inline;
		font-size: 1.3rem;
		margin: 0;
	}

	.select-style {
		position: relative;

		&:after {
		  border-color: $primary_color transparent transparent transparent;
		  border-style: solid;
		  border-width: 5px 5px 0 5px;
		  content: '';
		  display: block;
		  height: 0;
		  width: 0;
		  position: absolute;
		  pointer-events: none;
		  right: 1rem;
		  top: 50%;

		  transform: translateY(-50%);
		}
	}

	select {
		background: #FFF;
		border: 1px solid lighten($primary_color, 40%);
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 1.2rem;
		padding: 0.5rem;
		width: 100%;

		transition: border-color .125s ease-in, color .125s ease-in;

		&:disabled {
		  border-color: lighten($font_color, 60%);
		  color: lighten($font_color, 60%);
		}
	}

	input[type="text"] {
		border: 1px solid lighten($primary_color, 40%);
		border-radius: 5px;
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		display: block;
		font-size: 1.2rem;
		padding: 0.5714rem;
		width: 100%;
	}
}

@media (min-width: $breakpoint) {
	#options {
		margin-right: 1.2rem;
		width: 300px;

		h2 {
			margin: 1rem 0;
		}

		form {
			bottom: 1rem;
			left: 1rem;
			overflow-y: auto;
			position: absolute;
			right: 1rem;
			top: 5.5rem;
		}
	}
}